*{
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    min-height: 100%;
}




@media screen and (min-width:960px){
header{
    display: flex;
    padding: 1rem 2rem;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 34, 37);
    color: rgb(177, 198, 201);
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 99; 
    font-size: 1.3rem;  
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.seeting{
    position: absolute;
    top: 0;
    right: 0;
    height: 6rem;
    width: 6rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(12, 34, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    margin-top: -20px;
    cursor: pointer;
}
.seeting.active{
    background-color: transparent;
}

#icon1{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
 #icon2, #icon3{
    color: rgb(151, 202, 209);
    font-size: 1.5rem;
}

.icons{
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.icons:active{
    background-color: rgb(25, 70, 77);
}

.options{
    list-style: none;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem 0;
    padding: 0;
}
.fas{
    font-size: 1.5rem;
}
.menu_item{
    background-color: transparent;
    border: none;
    height: 3.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}
.menu_item:active{
    background-color: rgb(94, 94, 94);
}
.navbar_links{
    background-color: transparent;
    color: rgb(100, 255, 208);
    text-decoration: none;
    margin: 2px 2px;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.navbar_links:active{
    background-color: transparent;
}

.dropdown{
    width: 40%;
    position: fixed;
    transform: translate(100%,-100%);
    top: -3rem;
    left: 60%;
    height: min-content;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border: 1px solid rgb(126, 126, 126);
    border-top: none;
    z-index: 100;
}
.dropdown.active{
    top: 3rem;
    left: 60%;
    z-index: 98;
    visibility: visible;
    transform: translate(0%,0%);
}

.ovelay2{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 89;
    opacity: 0.7;
    visibility: hidden;
    transition: all 0.3s linear;
}
.ovelay2.active{
    visibility: visible;
    transition: all 0.3s linear;
}

.allContent{
    margin-top: 3.5rem;
    background-color: rgb(141, 56, 56);
    display: flex;
    flex-basis: 0;
    width: 100vw;
    min-height: 91.5vh;
    overflow-x: hidden;
    position: relative;
}
#content1{
    background-color: rgb(56, 206, 136);
    position: absolute;
    min-height: inherit;
    width: 100vw;
    transition: all 0.3s ease-in-out;
    transform: translateX(0%);
}

#keyy, #keyy2{
    width: 20vw;
}
#content2{
    background-color: rgb(37, 141, 93);
    position: absolute;
    width: 100vw;
    min-height: inherit;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}
#content3{
    background-color: rgb(28, 97, 65);
    position: absolute;
    width: 100vw;
    min-height: inherit;
    transition: all 0.3s ease-in-out;
    transform: translateX(200%);
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 34, 37);
    overflow: hidden;
    
    z-index: 99;
}
.footla{
    display: none;
}

}   









header{
    display: flex;
    padding: 1rem 0rem 1rem 2rem;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 38, 51);
    color: rgb(177, 198, 201);
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 99; 
    font-size: 1.3rem;  
    font-weight: bold;
    overflow: hidden;
    animation: headanim 0.3s forwards ease-out;
    transform: translateY(-200%);
}
@keyframes headanim{
    from{
        transform: translateY(-200%); 
    }
    to{
        transform: translateY(0%); 
    }
}

.seeting{
    height: 6rem;
    width: 6rem;
    border-radius: 0rem;
    background-color: rgb(0, 38, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.seeting.active{
    background-color: rgb(9, 58, 75);
}

#icon1{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}
 #icon2, #icon3{
    color: rgb(151, 202, 209);
    font-size: 1.5rem;
}

.icons{
    height: 6rem;
    width: 6rem;
    border-radius: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.icons:active{
    background-color: rgb(25, 70, 77);
}

.options{
    list-style: none;
    color: #fff;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.5rem 0;
    margin-top: 1rem;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fas{
    font-size: 1.5rem;
}
.menu_item{
    background-color: transparent;
    border: none;
    height: 3.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.menu_item:active{
    background-color: rgb(0, 102, 136);
}
.navbar_links{
    background-color: transparent;
    color: rgb(183, 185, 187);
    text-decoration: none;
    margin: 2px 2px;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.navbar_links:active{
    background-color: transparent;
}

.dropdown{
    width: 40%;
    position: fixed;
    transform: scale(0.3);
    top: -3rem;
    left: 78%;
    height: min-content;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    background-color: rgb(3, 34, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border: 1px solid rgb(0, 105, 139);
    border-top: none;
    z-index: 90;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dropdown.active{
    top: 3rem;
    left: 60%;
    z-index: 98;
    visibility: visible;
    transform: translate(0%,0%);
}

.ovelay2{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 89;
    opacity: 0.7;
    visibility: hidden;
    transition: all 0.1s linear;
}
.ovelay2.active{
    visibility: visible;
    transition: all 0.1s linear;
}

.allContent{
    margin-top: 3.5rem;
    background-color: rgb(25, 74, 90);
    display: flex;
    flex-basis: 0;
    width: 100vw;
    min-height: 85vh;
    overflow-x: hidden;
    position: relative;
}

#content1{
    background-color: rgb(49, 114, 136);
    position: absolute;
    min-height: inherit;
    width: 100vw;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: conanim 0.2s forwards 0.3s ease-out;

}
@keyframes conanim{
    0%{
        opacity: 0;
        
    }
    60%{
        opacity: 0.5;
        
    }
    100%{
        opacity: 1;
        
    }
}


#encryted{
    font-size: 1.1rem;
    border: 1px solid  rgb(255, 117, 117);
    border-left: none;
    border-right: none;
    background-color: rgb(49, 21, 21);
    padding: 15px;
    width: 94.5%;
    word-wrap: break-word;
    color: blanchedalmond;
    margin-bottom: 5rem;
    text-align: left;
}

#keyy,#pass,#user{
    border: 1px solid  rgb(0, 38, 51);
    background-color: rgb(177, 198, 201);
    color: rgb(0, 38, 51);
    font-weight: bold;
    height: 2.5rem;
    font-size: 1rem;
    width: 85vw;
    outline:none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgb(17, 48, 58);
    
}

hr{
    width: 100%;
    margin-top: 0.3rem;
}
#butt, #buttReset{
    border: none;
	outline: none;
	height: 2.5rem;
	width: 5rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: rgb(255, 117, 117);
	border-radius: 5px;
	color: rgb(49, 0, 30);
    box-shadow: 0px 0px 5px 3px rgb(31, 77, 92);
    margin: 0.5rem 1rem;
}
#butt:active{
    background-color: rgb(255, 187, 187);
}
#buttReset:active{
    background-color: rgb(253, 186, 186);
}

#keyy2{
    border: 1px solid  rgb(0, 38, 51);
    background-color: rgb(177, 198, 201);
    color: rgb(0, 38, 51);
    font-weight: bold;
    font-size: 1rem;
    width: 85vw;
    outline:none;
    height: 10rem;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgb(17, 48, 58);
    
}

.inpuEdit{
    position: fixed;
    height: 90vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.644);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    visibility: hidden;
    
}
#keyy3{
    border: 1px solid  rgb(0, 38, 51);
    background-color: rgb(177, 198, 201);
    color: rgb(0, 38, 51);
    font-weight: bold;
    font-size: 1rem;
    width: 90vw;
    outline:none;
    height: 70vh;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(17, 48, 58);
}
.btnclss2{
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 1rem auto;
    height: 2.5rem;
    width: 2.9rem;
    margin-top: -10rem;
}
.btnclss2:active{
    background-color: yellow;
}

.buttonset{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}



#content2{
    background-color: rgb(36, 91, 109);
    position: absolute;
    width: 100vw;
    min-height: inherit;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

table{
	width: 70%;
	border-collapse: collapse;
	border:1px solid rgb(0, 38, 51);
	text-align: center;
    color: rgb(0, 38, 51);
    background-color:  rgb(177, 198, 201);
    margin-bottom: 7rem;
    border-radius: 5px;
}
th{
	font-weight: bold;
	border:1px solid rgb(0, 38, 51);
    border-radius: 5px;
}
td{
	border:1px solid rgb(0, 38, 51);
    border-radius: 5px;
}

#addbtn{
	border: none;
	outline: none;
	height: 2.5rem;
	width: 5rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: rgb(168, 168, 168);
	border-radius: 5px;
	color: rgb(49, 0, 30);
    box-shadow: 0px 0px 5px 3px rgb(17, 48, 58);
    margin: 1rem 0.28rem;
}
#addbtn:active{
	background-color: rgb(228, 228, 228);
}
.clos{
	border: none;
	outline: none;
	width: 100%;
	height: 2rem;
	font-weight: bold;
	background-color: rgb(42, 69, 71);
    
	border-radius: 4px;
	color: rgb(255, 255, 255);
	margin:0;	 
}
.clos:active{
	background-color: rgb(176, 200, 202);
}

table{
	width: 100%;
	border-collapse: collapse;
	border:1px solid rgb(0, 38, 51);
	text-align: center;
    color: rgb(0, 38, 51);
    background-color:  rgb(177, 198, 201);
    margin-bottom: 7rem;
    border-radius: 5px;
}
th{
	font-weight: bold;
	border:1px solid rgb(0, 38, 51);
    border-radius: 5px;
}
td{
	border:1px solid rgb(0, 38, 51);
    border-radius: 5px;
}
#name, #quant, #price, #dbtitle, #dbvalue{
    border: 1px solid  rgb(0, 38, 51);
    background-color: rgb(177, 198, 201);
    color: rgb(0, 38, 51);
    font-weight: bold;
    height: 2.5rem;
    font-size: 1rem;
    width: 85vw;
    outline:none;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgb(17, 48, 58);
}

#dbvalue{
    height: 8rem;
}



#content3{
    background-color: rgb(29, 75, 90);
    position: absolute;
    width: 100vw;
    min-height: inherit;
    transform: translateX(200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.allbtns{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indbtn{
    height: 2.5rem;
    width: 9rem;
    background-color: rgb(0, 153, 102);
    outline: none;
    border:none;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(8, 34, 34);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgb(17, 48, 58);
    margin: 0.5rem 0.62rem;
}
.indbtndel{
    height: 2.5rem;
    width: 9rem;
    background-color: rgb(0, 153, 102);
    outline: none;
    border:none;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(128, 0, 38);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgb(17, 48, 58);
    margin: 0.5rem 0.62rem;
}
.indbtn:active, indbtndel:active{
    background-color: rgb(30, 226, 161);
}

#outpara{

    font-size: 1.1rem;
    border: 1px solid  rgb(152, 190, 178);
    border-left: none;
    border-right: none;
    background-color: rgb(17, 48, 58);
    padding: 15px;
    width: 92%;
    word-wrap: break-word;
    color: rgb(180, 219, 206);
    margin-bottom: 5rem;
    text-align: left;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 1.5rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 38, 51);
    overflow: hidden;
    z-index: 99;
    animation: footanim 0.3s forwards;
    transform: translateY(200%);
}
@keyframes footanim{
    from{
        transform: translateY(200%); 
    }
    to{
        transform: translateY(0%); 
    }
}
.footla{
    height: 1.5rem;
    width: 100vw;
}

.tooltip {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: rgb(31, 31, 31);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(31, 31, 31) transparent transparent transparent;
  }
  
  .content{
    height: 10.4rem;
    overflow-y: scroll;
    background-color: rgb(174, 186, 207);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2000;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(56, 56, 56, 0.801);
    opacity: 0.6;
    display: none;
    z-index: 50;
    transition:all 0.7s ease ;
}

.overlay.active{
    display: block;
}

.titler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: rgb(0, 53, 151);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    height: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}
.btnclss{
    color: white;
    background-color: rgb(0, 53, 151);
    border: none;
    outline: none;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 6px 1px  rgb(0, 15, 44);
}
.btnclss:active{
    box-shadow: 0px 0px 0px 0px  rgb(0, 15, 44);
    border: 1px solid rgb(0, 15, 44);
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 13rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 999;
    visibility: hidden;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 10px 2px #000000;
    transform: scale(0.01);
}
.popup.active{
    visibility: visible;
    transform: translate(-50%,-30%);
}
ul{
    list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.ineerli{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}
.ineerli:nth-child(odd){
    background-color: rgb(122, 168, 253);
}
.ineerli:nth-child(even){
    background-color: rgb(52, 123, 255);
}

  
